@charset "UTF-8";
/* ---------- Indice ---------

    1 - Reset
    2 - Variaveis
    3 - Medidas (EM)
    4 - Components
    5 - Template
    6 - P├íginas
    7 - Media Queries

 ---------- /Indice --------- */
/* ---------- 2 - variaveis --------- */
@font-face {
  font-family: 'din_condensedbold';
  src: url("../fonts/dincondensed-bold-webfont.eot");
  src: url("../fonts/dincondensed-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dincondensed-bold-webfont.woff2") format("woff2"), url("../fonts/dincondensed-bold-webfont.woff") format("woff"), url("../fonts/dincondensed-bold-webfont.ttf") format("truetype"), url("../fonts/dincondensed-bold-webfont.svg#din_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Medium';
  src: url("../fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Medium.otf") format("opentype"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype"), url("../fonts/DINPro-Medium.svg#DINPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* cores */
/* background */
/* ---------- variaveis --------- */
/* medidas 

    vw  ref 1920
    3px = 0.15625vw
    8px = 0.4166666666666667vw;
    18px = 0.9375vw
    20px = 1.0416666666666667vw
    25px = 1.3020833333333333vw
    28px = 1.4583333333333333vw
    36px = 1.875vw
    40px = 2.0833333333333335vw
    43px = 2.2395833333333335vw
    45px= 2.34375vw
    50px = 2.6041666666666665vw
    55px = 2.8645833333333335vw
    56px = 8.125vw;
    57px = 2.96875vw
    60px = 3.125vw
    68px = 3.5416666666666665vw
    70px = 3.6458333333333335vw
    72px = 3.75vw
    78px = 4.0625vw
    90px = 4.6875vw
    97px = 5.052083333333333vw
    111px = 5.78125vw;
    115px = 5.989583333333333vw
    118px = 6.145833333333333vw
    124px = 6.458333333333333vw
    130px = 6.770833333333333vw
    133px = 6.927083333333333vw
    144px = 7.5vw;
    146px = 7.604166666666667vw
    148px = 7.708333333333333vw
    150px = 7.8125vw
    154px = 8.020833333333334vw
    156px = 8.125vw
    160px = 8.333333333333334vw
    170px = 8.854166666666666vw
    180px= 9.375vw
    182px = 9.479166666666666vw
    192px = 10vw
    202px = 10.520833333333334vw
    208px = 10.833333333333334vw
    209px = 10.885416666666666vw
    215px = 11.197916666666666vwvw
    217px = 11.302083333333334
    235px = 12.239583333333334vw
    249px = 12.96875vw
    268px = 13.958333333333334vw
    285px = 14.84375vw
    288px = 15vw
    292px = 15.208333333333334vw
    316px = 16.458333333333332vw
    320px = 16.666666666666668vw
    325px =16.927083333333332vw
    330px = 17.1875vw;
    338px = 17.604166666666668vw
    342px = 17.8125vw
    348px = 18.125vw
    352px = 18.333333333333332vw
    376px=  19.583333333333332vw20vw
    384px = 20vw
    388px = 20.208333333333332vw
    391px = 20.364583333333332vw
    394px = 20.520833333333332vw
    397px = 20.677083333333332vw
    420px = 21.875vw
    434px = 22.604166666666668vw
    435px = 22.65625vw
    440px = 22.916666666666668vw
    450px = 23.4375vw
    463px = 24.114583333333332vw
    468px = 24.375vw
    487px = 25.364583333333332vw
    494px = 25.729166666666668vw
    498px = 25.9375vw
    500px = 26.041666666666668vw
    540px = 28.125vw
    545px = 28.385416666666668vw
    588px = 30.625vw
    595px = 30.989583333333332vw
    600px = 31.25vw
    627px = 32.65625vw
    632px = 32.916666666666664vw
    660px = 34.375vw
    674px = 35.104166666666664vw
    682px = 35.520833333333336vw
    715px = 37.239583333333336vw
    804px = 41.875vw
    806px = 41.979166666666664vw

    807px = 42.03125vw
    818px = 42.604166666666664vw
    820px= 42.708333333333336vw
    1008px = 52.5vw
    1097px  57.135416666666664vw
    1222px = 63.645833333333336vw
    114px = 58.541666666666664vw
    1162px = 60.520833333333336
    1259px = 65.57291666666667vw


    vw ref 1080

    34px = 3.1481481481481484vw
    37px = 3.425925925925926vw
    74px = 6.851851851851852vw
    84px = 7.777777777777778vw

    112px = 10.37037037037037
    113px = 10.462962962962964vw
    132px = 12.222222222222221vw
    144px = 13.333333333333334vw
    160px = 14.814814814814815vw
    198px = 18.333333333333332vw
    200px = 18.51851851851852vw
    280px = 25.925925925925927vw
    288px = 26.666666666666668vw
    298px = 27.59259259259259vw
    314px = 29.074074074074073vw
    330px = 30.555555555555557vw
    352px = 32.592592592592595vw
    393px = 36.388888888888886vw
    419px = 38.7962962962963vw;
    428px = 39.629629629629626vw
    468px = 43.333333333333336vw
    554px = 51.2962962962963vw
    582px = 53.888888888888886vw
    667px = 61.75925925925926vw
    750px = 69.44444444444444vw
    788px = 72.96296296296296vw
    850px = 78.70370370370371vwvw
    880px = 81.48148148148148vw
    1156px = 107.03703703703704vw

    rem
    12px = 0.667rem
    13px = 0.722rem
    14px = 0.778rem
    18px = 1rem
    28px = 1.556rem
    50px = 2.778rem;
    498px = 27.667rem

 medidas */
/* ---------- 1- reset --------- */
/* line 211, ../sass/reset.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 220, ../sass/reset.scss */
:focus {
  outline: none;
}

/* line 223, ../sass/reset.scss */
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 none;
  text-decoration: none;
}

/* line 230, ../sass/reset.scss */
li {
  list-style: none;
}

/* line 234, ../sass/reset.scss */
textarea {
  resize: none;
}

/* line 238, ../sass/reset.scss */
.size-full {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 244, ../sass/reset.scss */
.img-full {
  width: 100%  !important;
}

/* line 248, ../sass/reset.scss */
.hr-line {
  display: inline-block;
  width: 80%;
  height: 2px;
  background: #ededed;
}

/* line 254, ../sass/reset.scss */
blockquote {
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 260, ../sass/reset.scss */
::selection {
  background: #fff;
  color: #0090c6;
}

/* line 264, ../sass/reset.scss */
::-moz-selection {
  background: #0090c6;
  color: #fff;
}

/* line 269, ../sass/reset.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 278, ../sass/reset.scss */
.clearfix {
  display: inline-block;
}

/* line 282, ../sass/reset.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 286, ../sass/reset.scss */
* html .clearfix {
  height: 1%;
}

/* line 289, ../sass/reset.scss */
p {
  -webkit-backface-visibility: hidden;
  font-style: normal;
  color: #969595;
  font-family: 'DINPro-Medium';
  font-size: 18px;
  font-size: 0.9375vw;
}

/* line 297, ../sass/reset.scss */
* {
  /* safari
  -webkit-transform: translateZ(0); */
}

/* line 302, ../sass/reset.scss */
.container {
  max-width: 100%;
  width: 100%;
}

/* line 306, ../sass/reset.scss */
.container-reduzido {
  float: left;
  width: 100%;
  padding: 0 80px;
}

/* line 312, ../sass/reset.scss */
.parallax {
  background-position: 50% 0;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

/* margens */
/* margin positiva */
/* line 321, ../sass/reset.scss */
.mgn-top-80 {
  margin-top: 80px !important;
}

/* line 324, ../sass/reset.scss */
.mgn-top-70 {
  margin-top: 70px !important;
}

/* line 327, ../sass/reset.scss */
.mgn-top-60 {
  margin-top: 60px !important;
}

/* line 330, ../sass/reset.scss */
.mgn-top-50 {
  margin-top: 50px !important;
}

/* line 333, ../sass/reset.scss */
.mgn-top-40 {
  margin-top: 40px !important;
}

/* line 336, ../sass/reset.scss */
.mgn-top-20 {
  margin-top: 20px !important;
}

/* line 339, ../sass/reset.scss */
.mgn-bottom-20 {
  margin-bottom: 20px !important;
}

/* line 342, ../sass/reset.scss */
.mgn-bottom-30 {
  margin-bottom: 30px !important;
}

/* line 345, ../sass/reset.scss */
.mgn-bottom-40 {
  margin-bottom: 40px !important;
}

/* line 348, ../sass/reset.scss */
.mgn-bottom-50 {
  margin-bottom: 50px !important;
}

/* line 351, ../sass/reset.scss */
.mgn-bottom-80 {
  margin-bottom: 80px !important;
}

/* margin negativa */
/* line 357, ../sass/reset.scss */
.mgn-top--80 {
  margin-top: -80px !important;
}

/* line 360, ../sass/reset.scss */
.mgn-top--50 {
  margin-top: -50px !important;
}

/* line 363, ../sass/reset.scss */
.mgn-right--80 {
  margin-right: -80px !important;
}

/* line 366, ../sass/reset.scss */
.mgn-right--50 {
  margin-right: -50px !important;
}

/* line 369, ../sass/reset.scss */
.mgn-right--30 {
  margin-right: -30px !important;
}

/* line 372, ../sass/reset.scss */
.mgn-right--50 {
  margin-right: -50px !important;
}

/* ---------- reset --------- */
/* ---------- 3 - medidas --------- */
/* ---------- /medidas --------- */
/* ---------- 4 - components --------- */
/* line 391, ../sass/reset.scss */
.col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1,
.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1,
.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1,
.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1 {
  -moz-transition: width 0.6s ease-in-out, left 0.6s ease-in-out;
  -webkit-transition: width 0.6s ease-in-out, left 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out, left 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out, left 0.6s ease-in-out;
  transition: width 0.6s ease-in-out, left 0.6s ease-in-out;
}

/* line 404, ../sass/reset.scss */
input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
  display: block;
  width: 100%;
  height: 28px;
  line-height: 28px;
  color: #cacaca;
  font-size: 0.893em;
  border: 0;
  outline: none;
  border: 2px solid #fff;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
}

/* line 422, ../sass/reset.scss */
input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  -webkit-box-shadow: inset 2px 2px 2px 2px #eee;
  box-shadow: inset 2px 2px 2px 2px #eee;
}

/* line 426, ../sass/reset.scss */
input[type="text"]:hover, input[type="tel"]:hover, input[type="email"]:hover, input[type="password"]:hover {
  background-color: #eee;
}

/* line 429, ../sass/reset.scss */
input[type="text"].no-focus:focus, input[type="tel"].no-focus:focus, input[type="email"].no-focus:focus, input[type="password"].no-focus:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 434, ../sass/reset.scss */
p {
  font-size: 1rem;
  font-size: 0.9375vw;
}

/* line 440, ../sass/reset.scss */
select {
  display: block;
  width: 100%;
  border-radius: 0;
  text-align: center;
  height: 68px;
  line-height: 68px;
  color: #cacaca;
  font-size: 0.893em;
  border: 0;
  outline: none;
  border: 0;
  background: transparent;
  text-align: center;
}

/* line 455, ../sass/reset.scss */
textarea {
  display: block;
  width: 100%;
  border-radius: 0;
  text-align: center;
  height: 68px;
  line-height: 68px;
  color: #cacaca;
  font-size: 0.893em;
  border: 0;
  outline: none;
  border: 0;
  background: transparent;
  height: 100px;
  line-height: 1em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
}

/* line 477, ../sass/reset.scss */
textarea:focus {
  -webkit-box-shadow: inset 2px 2px 2px 2px #eee;
  box-shadow: inset 2px 2px 2px 2px #eee;
}

/* line 481, ../sass/reset.scss */
input.error, select.error, textarea.error {
  color: red;
  border-color: red;
}

/* line 485, ../sass/reset.scss */
select.error {
  border: 2px solid;
}

/* line 488, ../sass/reset.scss */
label {
  color: #2b3b67;
}

/* line 491, ../sass/reset.scss */
label.error {
  float: left;
  width: 100%;
  font-size: 0.600em;
  text-align: center;
  margin: 0 0 20px 0;
  color: red;
  background: #fff;
  padding: 10px 0;
  border-radius: 6px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 508, ../sass/reset.scss */
label.error::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
}

/* line 524, ../sass/reset.scss */
.passos label.error {
  color: red;
  background: #ddd;
  margin-top: 20px;
}

/* line 529, ../sass/reset.scss */
.passos label.error::before {
  border-bottom: 10px solid #ddd;
}

/* line 533, ../sass/reset.scss */
input[type=checkbox]:not(.padrao),
input[type=radio]:not(.padrao) {
  width: 32px;
  margin: 0;
  padding: 0;
  opacity: 0;
}

/* line 542, ../sass/reset.scss */
input[type=radio]:not(.padrao) + span {
  display: inline-block;
  margin-left: -38px;
  padding-left: 38px;
  background: url("../images/checks.png") no-repeat 0 0;
  line-height: 32px;
  color: #c6c6c6;
}

/* line 551, ../sass/reset.scss */
input[type=checkbox]:not(.padrao) + span {
  display: inline-block;
  margin-left: -38px;
  padding-left: 38px;
  background: url("../images/checks.png") no-repeat 0 -64px;
  line-height: 32px;
  color: #c6c6c6;
}

/* line 560, ../sass/reset.scss */
.check {
  width: 32px;
  height: 32px;
  display: inline-block;
  float: left;
  background: url("../images/checks.png") no-repeat 0 -64px;
}

/* line 567, ../sass/reset.scss */
.check.active {
  background: url("../images/checks.png") no-repeat 0 -96px;
}

/* line 570, ../sass/reset.scss */
.check input {
  margin: 0;
  padding: 0;
  opacity: 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-left: -38px;
  padding-left: 38px;
  background: url("../images/checks.png") no-repeat 0 -64px;
  line-height: 32px;
  color: #c6c6c6;
}

/* line 585, ../sass/reset.scss */
input[type=checkbox]:not(.padrao):checked + span {
  background-position: 0 -96px;
}

/* line 588, ../sass/reset.scss */
input[type=checkbox]:not(.padrao):checked + small {
  background-position: 0 -96px;
}

/* line 593, ../sass/reset.scss */
input[type=radio]:not(.padrao):checked + span {
  background-position: 0 -32px;
}

/* classes genericas */
/* line 598, ../sass/reset.scss */
.transition {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 605, ../sass/reset.scss */
.texto-center {
  text-align: center;
}

/* line 609, ../sass/reset.scss */
.full {
  width: 100%;
  float: left;
}

/* line 613, ../sass/reset.scss */
.full-none {
  width: 100%;
}

/* line 616, ../sass/reset.scss */
.border-r-10 {
  border-radius: 10px;
}

/* line 621, ../sass/reset.scss */
section {
  width: 100%;
  float: left;
  display: block;
}

/* ---------- /components --------- */
